.noir{
    background-color: black;
}

.grispale{
    background-color: #696969;

}
.grisfonce{
    background-color: #303030;
 
}
.gris{
    background-color: gray;

}

.bouton a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background:url(images/bouton-noir.png) no-repeat;
    color:white;
    text-decoration:none;
    }
    .bouton a:hover {
    background:url(images/bouton-noir-2.png) no-repeat;
    }